*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden ;
}
nav{
    width:100vw;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 20;
    background: repeating-linear-gradient(45deg, rgb(31, 84, 231), rgb(167, 152, 252) 50%, rgb(172, 163, 253) 50%, rgb(129, 157, 252) 5%);
}
nav div.logo{
    font-size: 5vh;
    padding: 10px;
}
nav .nav-links{
    margin: 0 2vw;
    margin-left: 20vw;
}
nav .nav-links ul{
    display: flex;
}
nav .nav-links ul li{
    margin: 0 2vw;
    text-decoration: none;
    transition: 0.5s;
    color: black;
    list-style: none;
}
nav .nav-links ul li a{
    text-decoration: none;
    font-size: 1.5em;
    padding: 4px;
}
nav .nav-links a:hover{
    color: paleturquoise;
    background:linear-gradient(to right, rgb(9, 0, 136), rgb(121, 121, 255));
}
nav i#burger{
    font-size: 1.3em;
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    position:absolute;
    right:10px;
    display: none;
}
nav .nav-links i#nav-cross{
    display: none;
}
/* 333333333333333333333333333section33333333333333 */
section{
    opacity: 0;
    transform: translateX(-50%);
}
/* ###################fade of js############ */
.fade{
    opacity: 1;
    transition: 2s;
    transform: translateX(0);
}
/* ##########################home################# */
.section1{
    padding-top: 10vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: repeating-linear-gradient(45deg, rgb(31, 84, 231), rgb(167, 152, 252) 50%, rgb(172, 163, 253) 50%, rgb(129, 157, 252) 5%);
    height: 100vh;
    
}
.homename{
    width: 290px;
    margin-top: 10vh;
    z-index: 2;
}
.homename h2{
    font-size: 4vh;
    color: rgb(251, 252, 182);
    height: 43px;
}

.homename h3{
    font-size: 5vh;
    color: rgb(177, 185, 255);
}
.homename h3 span{
    color: rgb(0, 4, 221);
}
.homeimg{
    z-index: 2;
}
.homeimg img{
    width: 290px;
    height: 400px;
    opacity: 0.7;
    /* border-radius: 3000px; */
}
.homename a{
    color: rgb(219, 219, 219);
    text-decoration: none;
    padding: 10px;
    font-size: 5vh;
    background: linear-gradient(to right, rgb(11, 0, 53), rgb(80, 80, 255));
    box-shadow: -2px -2px 8px rgb(40, 44, 255),
                -2px -2px 12px rgba(11, 52, 128, 0.5),
                2px 2px 8px rgba(0,0,0,0.5);
    transition: 2s;
}
.homename a:hover{
    background: repeating-linear-gradient(90deg, rgb(31, 84, 231), rgb(167, 152, 252) 50%, rgb(149, 137, 255) 50%, rgb(102, 138, 255) 5%);
}
#wave{
    width: 150vw;
    margin: 0 0 0 -150px;
}

/* ###################about######################### */
.section2{
    width: 100vw;
    padding: 5vh 0;
    background: repeating-linear-gradient(90deg, rgb(31, 84, 231), rgb(167, 152, 252) 50%, rgb(172, 163, 253) 50%, rgb(129, 157, 252) 5%);
}
.abt-heading{
    width: 100vw;
    text-align: center;
}
.abt-heading h2{
    font-weight: 800;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
}
.section2 div.abt-para{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5vh;
}
.section2 div.abt-para p{
    width: 280px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    /* background: rgb(134, 134, 251); */
}
.section2 div.abt-para p span{
    font-size: 5vh;
    display: block;
    font-weight: 700;
    color: rgb(25, 0, 255);
}
.section2 div.abt-para p i{
    color: blueviolet;
    padding: 5px;
    font-size: 3vh;
}
.section2 .abt-para table{
    /* border: 1px solid black; */
    font-size: 2.5vh;
    font-weight: 510;
    width: 170px;
    /* box-shadow: -2px -2px 5px rgb(30, 27, 255),
    -2px -2px 12px rgb(78, 38, 255),
    2px 2px 8px rgba(62, 28, 255, 0.89); */
    margin: 10px 5px ;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    /* background: repeating-linear-gradient(25deg, rgb(19, 82, 255), rgb(132, 110, 255) 50%, rgb(172, 163, 253) 50%, rgb(129, 157, 252) 5%); */
}
.section2 div.abt-para table td,#about div.abt-para table th{
    padding: 10px 5px;
}
/* .section2 div.abt-para table tr{
    background: repeating-linear-gradient(50deg, rgb(19, 82, 255), rgb(132, 110, 255) 50%, rgb(172, 163, 253) 50%, rgb(129, 157, 252) 5%);
} */
.section2 div.abt-para table th{
    background-color: #3b2dff;
}
/* ##################skills############# */
.section3{
    width: 100vw;
    padding-top:5vh ;
    background-color:#c0bebe;
    background: repeating-linear-gradient(90deg, rgb(31, 84, 231), rgb(167, 152, 252) 50%, rgb(172, 163, 253) 50%, rgb(129, 157, 252) 5%);
}
.section3 .skill-head{
    width: 100vw;
    text-align: center;
}
.section3 .skill-head h2{
    font-weight: 800;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
}
.section3 .skill-table{
    padding: 5vh 0 ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.section3 .skill-table table{
    width: 270px;
    text-align: center;
    background-color: rgb(159, 176, 255);
    margin-top: 2vh;
    box-shadow: -2px -2px 5px rgb(60, 60, 255),
    -2px -2px 12px rgb(0, 11, 158),
    inset 2px 2px 4px rgba(2, 0, 97, 0.1),
    2px 2px 8px rgb(2, 0, 136);
}
.section3 .skill-table table td,#skills .skill-table table th{
    padding: 5px;
}
.section3 .skill-table table th{
    background-color: #1229ad;
    color: white;
    letter-spacing: 1px;
    font-size: 3vh;
}
.section3 .skill-table table tr:nth-child(even){
    background-color: rgb(170, 193, 255);
}
.section3 .skill-table table tr:nth-child(2){
    background-color: rgb(62, 123, 255);
}
/* ##############work############# */
.section4{
    padding-top: 5vw;
}
.section4 .work-head{
    width: 100vw;
    text-align: center;
}
.section4 .work-head h2{
    font-weight: 800;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
}
.section4{
    width: 100vw;
    background: repeating-linear-gradient(45deg, rgb(31, 84, 231), rgb(167, 152, 252) 50%, rgb(172, 163, 253) 50%, rgb(129, 157, 252) 5%);
}
.cards{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5vw;
    
}
.inwork{
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
    overflow: hidden;
}
.inwork:hover{
    transition: 0.5s;
    background-color: rgb(101, 74, 255);
}
.inwork i{
    font-size: 4em;
    padding: 5px;
    color: rgb(95, 183, 255);
}
.inwork h3{
    color: blue;
    padding: 5px;
}
.inwork p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.2em;
}

/* ##################contact########## */
.section5{
    padding-top: 3vw;
    width: 100vw;
    background: repeating-linear-gradient(45deg, rgb(46, 46, 46), rgb(80, 80, 80) 50%, rgb(107, 107, 107) 50%, rgb(104, 104, 104) 5%);
}
.section5 .contact-head{
    width: 100vw;
    text-align: center;
}
.section5 .contact-head h2{
    font-weight: 800;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
}
.in-contact{
    width: 260px;
}
.in-contact a{
    padding: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.in-contact a div{
    margin-left: 15px;
}
.in-contact a i{
    font-size: 1.2em;
    color: rgb(235, 241, 253);
    padding: 5px;
}
.in-contact a div h4{
    color: cornflowerblue;
}
/* #############top-btn############ */
a.topbtn {
    position: fixed;
    right: 7vw;
    bottom: 7vh;
    color: white;
    padding: 4px 7px;
    background-color: rgb(226, 32, 32);
    border-radius: 30px;
    display: none;
}
/* ##############audio########### */
audio{
    width: 250px;
    margin: 10px;
    outline: none;
}
@media screen and (max-width:768px){
    .nav-links{
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 30;
        background-color: rgb(131, 131, 131);
        display: none;
        right: 0;
        top: 0;
        opacity: 0.9;
    }
    .nav-links ul{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav-links ul li.nav-li{
        margin: 10vh;
    }
    .nav-links ul li.nav-li a{
        color: black;
    }
    nav .nav-links i#nav-cross{
        position: absolute;
        display: block;
        top: 25px;
        right: 25px;
        font-size: 1.7em;
    }
    .homeimg{
        z-index: 2;
    }
    .homeimg img{
        width: 200px;
        height: 250px;
        /* display: none; */
    }
    .wave{
        display: none;
    }
    .topbtn{
        display: block;
    }
    nav i#burger{
        display: block;
    }
    
}

